$white: #FFFFFF;

.slider-container.recipes {
  width: calc(100% - 2em);
  margin-left: 1em;
  margin-right: auto;
  margin-bottom: 2em;
  h2 {

  }
  .recipe-slider {
    width: 100%;
    font-family: Georgia;
    .carousel {
      min-width: 70%;
      margin-top: 0;
      height: 240px;
      .slide {
        min-width: 75%!important;
        text-align: left;
        background-color: $white;
        &:nth-of-type(1){
          margin-left: 10px;
        }
        img {
          width: 80%;
        }
      }
      .slider-wrapper {
        width: 100%;
        ul.slider.animated {
          width: 100%;
        }
      }
      .control-arrow {
        opacity: 1;
        &:hover {
          background: rgba(255, 255, 255, 0.0);
        }
        &.control-next {
          transform: rotate(180deg);
          top: 85%;
          right: 10px;
          height: 50px;
          :before {
            content: url('./images/right-arrow.svg');
            transform: rotate(180deg);
          }
        }
        &.control-prev {
          display: none;
          &:before {
            display: none;
          }
        }
      }
      .control-prev.control-arrow:before,
      .control-next.control-arrow:before {
        content: url('./images/right-arrow.svg');
        transform: rotate(180deg);
      }
      .control-dots {
        .dot {
          display: none;
        }
      }
    }
  }
}
